.arpc_tabbed_wrapper p,
.arpc_tabbed_wrapper h2 {
      margin: 0;
}
.arpc_tabbed_wrapper {
      background: #ddd;
      border-radius: 4px;
      padding: 10px;
      margin-right: 20px;
}
.arpc_tabbed_wrapper ul {
      display: flex;
      align-items: center;
      list-style: none;
      margin: 0;
      padding: 0;
      
}
.arpc_tabbed_wrapper ul li {
      margin: 0;
}
.arpc_tabbed_wrapper ul li a{
      display: flex;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 0.65px;
      text-decoration: none;
      text-transform: capitalize;
      border-radius: 4px 4px 0 0;
      background: transparent;
      transition: all 0.2s linear;
      padding: 6px 15px;
}
.arpc_tabbed_wrapper ul li.active a,
.arpc_tabbed_wrapper ul li.active a:hover,
.arpc_tabbed_wrapper ul li.active a:focus {
       box-shadow: unset !important;
       outline: 0 !important;
 }
.arpc_tabbed_wrapper ul li.active a {
      background: #fff;
}
.arpc_tabbed_wrapper .tab-content{
      background: #fff;
}
.arpc_tabbed_wrapper .tab-content .tab-pane {
      display: none;
      padding: 15px;
}

.arpc_tabbed_wrapper .tab-content .tab-pane.active {
      display: block;
}


.hide-elem {
      display: none !important;
}

/* Choose template admin */
.choose-template-wrapper label {
      border: 1px solid #ddd;
      display: inline-block;
      padding: 10px;
      border-radius: 5px;
      margin: 0 15px 10px 0;
  }
  
  .choose-template-wrapper label img {
      width: 100%;
      height: 100px;
      object-fit: cover;
  }
  
  .choose-template-wrapper label > div {
      margin-bottom: 10px;
  }

  /* Nav Settings */
  .arpc-popup-settings-wrapper {
      background: #fff;
      padding: 20px;
      border-radius: 5px;
  }
  
  .arpc-popup-settings-wrapper .nav-tab-wrapper a {
      border-top-left-radius: 12px;
      border-top-right-radius: 12px;
      background: #fff;
      padding: 8px 24px;
      font-size: 16px;
      margin-left: 0;
      margin-right: 12px;
      box-shadow: unset;
  }
  
  .arpc-popup-settings-wrapper .nav-tab-wrapper a.nav-tab.nav-tab-active {
      background: #1a73e8;
      color: #fff;
      border-color: #1a73e8;
  }