.arpc_settings__form label,
.arpc_settings__form2 label,
.arpc_metabox_wrapper label {
	min-width: 240px;
	font-weight: 600;
	display: inline-block;
}

.arpc_form_group+.arpc_form_group {
	margin-top: 24px;
}

.arpc_settings__form2,
.arpc_settings__form,
.arpc_metabox_wrapper {
	padding-top: 8px;
}

.arpc_form_group .arpc_form_group_inner {
	display: flex;
	flex-direction: column;

}

.arpc_form_group {
	display: flex;
	align-items: center;
}

.arpc_form_group .arpc_form_group_inner label {
	font-weight: 400;
}

.arpc_form_group .arpc_form_group_inner label+label {
	margin-top: 10px;
}

.arpc_form_group div span {
	display: inline-block;
}

.arpc_form_group div span+span {
	margin-top: 10px;
}


#arpc_image_container img {
	max-width: 100px;
	height: auto;
	margin-top: 12px;
}

.arpc_settings__form2,
.arpc_settings__form {
	margin-bottom: 40px;
}

.arpc_settings__form .arpc_submit_address_form2,
.arpc_settings__form .arpc_submit_address_form {
	margin-top: 25px;
}

.form-invalid input {
	border-color: #f00 !important;
}

.form-invalid p.error {
	color: #f00 !important;
}