#popup-creator {
      background-color: #fff;
      padding: 50px;
      position: relative;
}

.plainmodal-overlay {
      width: 200% !important;
      height: 200% !important;
}

.plainmodal.plainoverlay {
      left: 0 !important;
      top: 0 !important;
      padding: 0 !important;
  }

  #popup-creator .close-button {
      position: absolute;
      right: -30px;
      top: -30px;
      cursor: pointer;
      border: 0 !important;
      background: transparent !important;
  }